
* {
  margin: 0;
  padding: 0;
}
body{
    width: 100%;
}
ul li{
    list-style: none;
    display: inline-block;
    padding: 12px;    
}
.user {
    float: right;
     margin-right: 10px;
     margin-top: 10px;
}
.notification{
    float: right;
    margin-top: 10px;
}
.share{
    float: right;
    margin-top: 10px;
}
.apps{
    float: right;
    margin-top: 10px;
}
.create{
    float: right;
    margin-top: 10px;
}
form{
    margin-left: 220px;
    margin-top: 10px;
    text-decoration: none;
    font-size: 24px;
    height: 100%;
    display: flex;
}
input {
    width: 500px;
    height: 30px;
}
span{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 18px;
    padding: 2 0 0 0;
}
.main-body {
    width: 70%;
    display: inline-block;
    padding: 50px 0 0 50px;
}

h3{
    font-size: 20px;
    padding-top: 10px;
}
h4{
    margin-top: 10px;
    color: gray;
    display: inline-block;
}
.views-bar{
    display: inline-block ;
    width: 95%;
    position: relative;
    
}
.icons{
    display: inline-block;
    margin-left: 470px;
}

.like{
    padding-right: 4px;
    padding-left: 4px;
}
.video-title{
    width: 95%;
    padding: 50px 0 0 0;
    
}
.main-video{
    width: 95%;
}
.side-bar {
    top: 40px;
    float: right;
    width: 25%;
    position: relative;
}

main{
    clear: both;
   
}


.comment{
    width: 95%;
}


@media screen and (max-width: 700px) {
  .side-bar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .side-bar {float: left;}
  
}


img{
    max-width: 100%;
}




