
* {
  margin: 0;
  padding: 0;
}
body{
    width: 100%;
}
ul li{
    list-style: none;
    display: inline-block;
    padding: 12px;    
}
.user {
    float: right;
     margin-right: 10px;
     margin-top: 10px;
}
.notification{
    float: right;
    margin-top: 10px;
}
.share{
    float: right;
    margin-top: 10px;
}
.apps{
    float: right;
    margin-top: 10px;
}
.create{
    float: right;
    margin-top: 10px;
}
form{
    margin-left: 220px;
    margin-top: 10px;
    text-decoration: none;
    font-size: 24px;
    height: 100%;
    display: flex;
}
input {
    width: 500px;
    height: 30px;
}
span{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 18px;
    padding: 2 0 0 0;
}

.main-video{
    margin: 25px 230px 10px 100px;
    
}

h3{
    margin-left: 100px;
}
h4{
    margin-left: 100px;
    margin-top: 10px;
    color: gray;
    display: inline-block;
}
.views-bar{
    display: inline-block ;
    margin-bottom: 20px;
    
}
.icons{
    display: inline-block;
    margin-left: 350px;

}

.like{
    padding-right: 4px;
    padding-left: 4px;
}
.video-title{
    margin: 0 0 0 95px;
    position: relative;
}
.side-bar {
    position: absolute;
    top: 88px;
    right: 10px;
    width: 410px;  
   
}
.side-bar img {
    padding: 5px;
    max-width: 100%;
}
.comment{
    max-width: 100%;
}
.s{
    max-width: 100%;
}

@media screen and (max-width: 900px) {
  .side-bar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .side-bar img {float: left;}
  
}
iframe{
    max-width: 100%;
}
img{
    max-width: 100%;
}




